{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load my_tags %}
{% block content %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/service_reviews.css' %}" />
{% endblock %}
  <div class="container mt-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <h1 class="mb-4">Services</h1>
      {% if user.role|is_seller %}
        <a href="{% url 'register_service' %}" class="btn btn-info m-0">Add New Service</a>
      {% endif %}
    </div>
    <form method="get" class="mb-4">
      <div class="row">
        <div class="col">
          <select name="category" class="form-select">
            <option value="">All Categories</option>
            {% for category in categories %}
              <option value="{{ category.id }}" {% if request.GET.category|stringformat:'s' == category.id|stringformat:'s' %}selected{% endif %}>
                {{ category.name }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>

    <div class="mb-3">
      <a href="{% url 'service_list' %}?sort=newest&category={{ request.GET.category }}" class="btn btn-info btn-sm">Newest</a>
      <a href="{% url 'service_list' %}?sort=oldest&category={{ request.GET.category }}" class="btn btn-info btn-sm">Oldest</a>
    </div>
    <div class="row">
      {% for service in page_obj %}
        <div class="col-md-12 col-lg-4 mb-4">
          <div class="card" >
            <a class="text-decoration-none" style="color: inherit;" href="{% url 'service_detail' service.id %}">
              <img src="{{ service.sample_image.url }}" class="card-img-top" width="100%" height="340px" alt="{{ service.title }}" />
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <p class="small"><b>Category:</b> {{ service.category.name}}</p>
                </div>
                <div class="d-flex justify-content-between align-items-end mb-3">
                  <h3 class="mb-0">{{service.title}}</h3>
                  <span class="text-dark mb-0">Rs.{{service.price}}</span>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <p class="text-muted fw-light mb-0"><b>Seller:</b> <span class="fw-bold">{{service.seller.first_name}}</span></p>
                  <div class="ms-auto text-warning">
                    {% if service.calculate_average_rating == "No ratings yet"%}
                        <span>No rating yet</span>
                    {% else %}
                      {% for _ in service.calculate_average_rating|full_stars %}
                          <span class="star full">&#9733;</span>
                      {% endfor %}
                      {% if service.calculate_average_rating|half_star %}
                          <span class="star half">&#9734;</span>
                      {% endif %}
                      {% for _ in service.calculate_average_rating|empty_stars %}
                          <span class="star empty">&#9734;</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                  {% if user.role|is_seller %}
                    <strong>Status:</strong> {{ service.adminactions_set.first.status }}<br />
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="mt-4">
      {% include 'pagination_with_category.html' with page_obj=page_obj %}
    </div>
  </div>
{% endblock %}
