{% extends 'base.html' %}

{% load widget_tweaks %}
{% block content %}
  <div class="container w-50 my-5 bg-white p-4 border rounded">
    <div class="row">
      <h2 class="text-center">Reset Your Password</h2>
      <p class="text-center">Enter a new password for your account.</p>
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <label for="password1" class="form-label">Password:</label>
          {{ form.new_password1|add_class:'form-control' }}
          {% for error in form.new_password1.errors %}
            <div class="alert alert-danger mt-2">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label">Confirm Password:</label>
          {{ form.new_password2|add_class:'form-control' }}
          {% for error in form.new_password2.errors %}
            <div class="alert alert-danger mt-2">{{ error }}</div>
          {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
  </div>
{% endblock %}
