<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>
      {% block title %}
        My Site
      {% endblock %}
    </title>
    {% block css %}

    {% endblock %}
    <script src="https://js.stripe.com/v3/"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  </head>
  <body>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert 
            {% if message.levels_tag == 'error' %}
              {{ 'alert-danger' }}
            {% elif message.level_tag == 'warning' %}
              {{ 'alert-warning' }}
            {% elif message.level_tag == 'success' %}
              {{ 'alert-success' }}
            {% elif message.level_tag == 'info' %}
              {{ 'alert-info' }}
            {% endif %}"
            role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a href="#" class="navbar-brand"><img src="{% static 'images/home-services-logo.png' %}" height="35" alt="CoolBrand" /></a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active">Home</a>
              <a href="/services" class="nav-item nav-link">Services</a>
              <a href="#" class="nav-item nav-link">Por</a>
              <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
            </div>

            {% if user.is_authenticated %}
              <div class="navbar-nav ms-auto align-items-center">
                <p class="m-0 p-0 pr-3">Welcome {{ user.username }} !!!</p>
                <p class="m-0 p-0 px-3">{{ user.role }} View</p>
                <a href="/users/accounts/logout" class="nav-item nav-link btn btn-primary">Logout</a>
              </div>
            {% else %}
              <div class="navbar-nav ms-auto">
                <a href="/users/login" class="nav-item text-white nav-link btn btn-primary">Login <i class="fa-solid fa-right-to-bracket"></i></a>
              </div>
            {% endif %}
          </div>
        </div>
      </nav>
      <div>
        {% block content %}

        {% endblock %}
      </div>
    </div>
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
